.product-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-list__item {
    list-style: none;
    width: 32%;
    margin-bottom: 20px;
}
